body {
  font-family: "Raleway", sans-serif;
}
/* Nav actualizado*/
.navbar-brand p {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-brand p:hover{
  color:aqua;
}
/* Hero Section */

#Hero-Section {
  background-image: url("/assets/img/tecnologiadesarrollo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/*Hero Section actualizado*/
#Hero-Section h1 {
  font-size: 55px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
